<div id="home" class="row">
    <div id='home_container' class="text-center">
        <div class="animatable">
            <h1 class="welcometo">Welcome to <span class="orange">RSS</span>|READER</h1>
            <button class="btn btn-primary btn-lg app-btn-blue" ng-click="OnFeeds()" ng-hide='!isAuthenticated()'>Show Feeds</button>
            <button class="btn btn-primary btn-lg app-btn-blue margin" ng-click="OnLogin()" ng-hide="isAuthenticated()">Sign In</button>
            <button class="btn btn-primary btn-lg app-btn-blue" ng-click="OnRegister()" ng-hide="isAuthenticated()">Sign Up</button>
        </div>
    </div>
</div>
<div ui-view></div>